<div class="panel panel-info">
    <div class="panel-heading" style="font-size: 20px;">Aspose解决方案</div>
    <div style="margin-top: 10px;">
        <div style="text-align: center;">
            <div id="example1"></div>

        </div>
    </div>

</div>
@section scripts{
    <script type="text/javascript">
        new PDFObject({url:"/File/A#B.pdf"}).embed("#example1");
    </script>